SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/0404161e-61f4-46e2-9a43-6aa6bbf1e5ea.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/v17/Browse.VC.db
SNAKE_CPP/.vs/SNAKE_CPP/v17/Browse.VC.db-shm
SNAKE_CPP/.vs/SNAKE_CPP/v17/Browse.VC.db-wal
SNAKE_CPP/.vs/SNAKE_CPP/v17/Browse.VC.opendb
SNAKE_CPP/SNAKE_CPP.sln
SNAKE_CPP/SNAKE_CPP.vcxproj
SNAKE_CPP/SNAKE_CPP.vcxproj.filters
SNAKE_CPP/SNAKE_CPP.vcxproj.user
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/1f0c50ab-69ab-4872-96ae-ffa866c2e0e6.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/758ddb15-2313-44ab-b2ff-c0e6d885d031.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/v17/.suo
SNAKE_CPP/.vs/SNAKE_CPP/v17/DocumentLayout.backup.json
SNAKE_CPP/.vs/SNAKE_CPP/v17/DocumentLayout.json
SNAKE_CPP/.vs/SNAKE_CPP/v17/ipch/AutoPCH/f7b06769717d2393/CONSOLE_SNAKE.ipch
SNAKE_CPP/SNAKE_CPP/x64/Debug/console_snake.obj
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.exe.recipe
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.ilk
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.log
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/CL.command.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/Cl.items.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/CL.read.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/CL.write.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/link.command.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/link.read.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/link.secondary.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/link.write.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/SNAKE_CPP.lastbuildstate
SNAKE_CPP/SNAKE_CPP/x64/Debug/vc143.idb
SNAKE_CPP/SNAKE_CPP/x64/Debug/vc143.pdb
SNAKE_CPP/x64/Debug/SNAKE_CPP.pdb
SNAKE_CPP/.vs/SNAKE_CPP/v17/ipch/AutoPCH/bc79910671b80ef9/CONSOLE_SNAKE.ipch
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/9883e0fa-d068-4e61-960f-31675c5d7ece.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/ace5d4ba-4067-4e15-a892-fdc7612839c8.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/v17/ipch/AutoPCH/5940db3ba3b79054/VCTMP18080_394405.CONSOLE_SNAKE.00000000.ipch
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/2ad01918-b547-4793-8efc-af263e0ce009.vsidx
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.tlog/unsuccessfulbuild
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/5644b449-36ac-4fc9-bcfb-faeb895269ec.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/a78feba5-a15d-4aa3-befa-ffaf628ae1d2.vsidx
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.vcxproj.FileListAbsolute.txt
SNAKE_CPP/SNAKE_CPP/x64/Debug/SNAKE_CPP.Build.CppClean.log
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/685f6317-a919-4e9d-a358-da01f28fb265.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/d12cf710-4a3c-4b6f-ad32-460f5c37c091.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/03ac2814-a1d2-4590-8b95-32202424c573.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/856956a3-f220-48b1-bc7f-a0406cf61ed9.vsidx
SNAKE_CPP/.vs/SNAKE_CPP/v17/ipch/AutoPCH/5b45784adabf736b/CONSOLE_SNAKE.ipch
SNAKE_CPP/.vs/SNAKE_CPP/v17/Solution.VC.db
SNAKE_CPP/SNAKE_CPP/x64/Release/console_snake.obj
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.exe.recipe
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.iobj
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.ipdb
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.log
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/CL.command.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/Cl.items.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/CL.read.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/CL.write.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/link.command.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/link.read.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/link.secondary.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/link.write.1.tlog
SNAKE_CPP/SNAKE_CPP/x64/Release/SNAKE_CPP.tlog/SNAKE_CPP.lastbuildstate
SNAKE_CPP/SNAKE_CPP/x64/Release/vc143.pdb
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/x64/Release/SNAKE_CPP.pdb
SNAKE_CPP/x64/Release/SNAKE_CPP.exe
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/x64/Debug/SNAKE_CPP.exe
SNAKE_CPP/.vs/SNAKE_CPP/FileContentIndex/ff036f98-622e-4673-a4d0-c5bac660f113.vsidx
